.row {
  display: flex;
  margin-bottom: 1rem;
}

.button {
  appearance: none;
  background: none;
  border: solid 1px gray;
  background-color: lightgray;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0 0.7rem;
}

.button[disabled] {
  opacity: 0.5;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border: solid 1px gray;
  border-radius: 3px;
  margin: 0 0.5rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
